<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/patient/payment">缴纳费用</a></li>
        <li class="active">分期付款详情</li>
    </ul>
    <div class="w-50 mx-auto mt-3">
        <h1 class="text-center mb-3">分期付款详情</h1>
        <ul class="list-group ">
            <li class="list-group-item"><span class="content-right" th:text="${record.name}"></span>名称:</li>
            <li class="list-group-item"><span class="content-right" th:text="${record.gender}"></span>性别:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${record.age}"></span>年龄:</li>
            <li class="list-group-item">主治医生: <span class="content-right" th:text="${user.name}"></span>
            </li>
            <li class="list-group-item">医院:<span class="content-right"
                                                 th:text="${user.doctorInfo.hospital}"></span></li>
            <li class="list-group-item">科室:<span class="content-right"
                                                 th:text="${user.doctorInfo.department}"></span></li>
            <li class="list-group-item"><span class="content-right" th:text="${record.diseaseType}"></span>疾病类型:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${record.cost}"></span>分期付款金额:
            </li>
            <li class="list-group-item">
                            <span class="content-right"
                                  th:text="${#dates.format(record.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>创建时间:
            </li>
            <li class="list-group-item">
                分期付款期数:
                <input type="number" class="form-control d-inline" id="cycle" name="cycle"
                       placeholder="请输入分期期数">
            </li>
        </ul>
        <button type="button" class="btn w-100" id="installmentSubmit"
                style="background-color: #4E565C;color: #fff">确认分期
        </button>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/addInstallmentInfo.js"></script>
</div>
</body>
</html>
