<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li class="active">贷款记录</li>
    </ul>
    <div class="w-100 mx-auto">
        <table class="table table-striped table-bordered w-100 mb-0">
            <thead>
            <tr>
                <td>序号</td>
                <th>姓名</th>
                <th>性别</th>
                <th>手机号码</th>
                <th>贷款金额</th>
                <th>贷款时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mortgage,state : ${mortgages}">
                <td th:text="${state.count}"></td>
                <th th:text="${mortgage.name}"></th>
                <th th:text="${mortgage.gender}"></th>
                <th th:text="${mortgage.phone}"></th>
                <th th:text="${mortgage.amount}"></th>
                <th th:text="${#dates.format(mortgage.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></th>
                <th th:text="${mortgage.state}"></th>
                <th><a th:href="@{/patient/lookMortgage(mortgageId=${mortgage.id})}">查看</a></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:fragment="js">

</div>
</body>
</html>