<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/patient/listStagingRecord">分期记录</a></li>
        <li class="active">分期付款详情</li>
    </ul>
    <div class="w-60 mx-auto mt-3">
        <h1 class="text-center mb-3">分期付款详情</h1>
        <ul class="list-group ">
            <li class="list-group-item"><span class="content-right"
                                              th:text="${installment.name}"></span>名称:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${installment.gender}"></span>性别:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.age}"></span>年龄:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${installment.chiefComplaint}"></span>主诉:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${installment.diseaseType}"></span>疾病类型:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${installment.cost}"></span>分期付款金额:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${installment.cycle}"></span>分期付款期数:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${installment.paidCycle}"></span>已付款期数:
            </li>
            <li class="list-group-item">
                            <span class="content-right"
                                  th:text="${#dates.format(installment.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>创建时间:
            </li>
            <li class="list-group-item">
                            <span class="content-right"
                                  th:text="${installment.state}"></span>状态:
            </li>
        </ul>
        <button th:if="${installment.state} eq '申请通过'" type="button" class="btn btn-gray w-100" id="installmentPay">分期付款
        </button>
        <button th:if="${installment.state} eq '申请未通过'" type="button" class="btn btn-gray w-100" id="directPay">直接付款
        </button>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/lookStagingRecord.js"></script>
</div>
</body>
</html>