<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/patient/listInsurancePolicy">投保记录</a></li>
        <li class="active">投保记录查看</li>
    </ul>
    <div class="mx-auto mt-3">
        <h1 class="text-center mb-3">投保记录</h1>
        <div class="text-center">投保时间:<span
                th:text="${#dates.format(insurancePolicy.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>
        </div>
        <div class="text-center">状态:<span
                th:text="${insurancePolicy.state}"></span>
        </div>

        <div>
            <div class="row content">
                <div class="col-sm-2">险种名称</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.insuranceName}"></div>
                <div class="col-sm-2">理赔疾病</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.claimDisease}"></div>
            </div>

            <div class="row content">
                <div class="col-sm-2">保险期限(年)</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.insurancePeriod}"></div>
                <div class="col-sm-2">销售范围</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.salesScope}"></div>
            </div>

            <div class="row content">
                <div class="col-sm-2">年免赔额(%)</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.annualDeductible}"></div>
                <div class="col-sm-2">赔付比例(%)</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.compensationRatio}"></div>
            </div>

            <div class="row content">
                <div class="col-sm-2">一般医疗保险金</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.generalMedicalInsurance}"></div>
                <div class="col-sm-2">重大疾病医疗保险金</div>
                <div class="col-sm-4"
                     th:text="${insurancePolicy.insuranceProject.criticalIllnessMedicalInsurance}"></div>
            </div>

            <div class="row content">
                <div class="col-sm-2">保障区域</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.guaranteeArea}"></div>
                <div class="col-sm-2">医院范围</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.hospitalScope}"></div>
            </div>

            <div class="row content">
                <div class="col-sm-2">交费年限</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.paymentYears}"></div>
                <div class="col-sm-2">年交保费</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.annualPremium}"></div>
            </div>

            <div class="row content">
                <div class="col-sm-2">投保年龄</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.issueAge}"></div>
                <div class="col-sm-2">包含就医绿色通道次数</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.greenChannelMedicalTreatment}"></div>
            </div>

            <div class="row content">
                <div class="col-sm-2">保险责任</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.insuranceLiability}"></div>
                <div class="col-sm-2">责任免除</div>
                <div class="col-sm-4" th:text="${insurancePolicy.insuranceProject.exclusions}"></div>
            </div>
        </div>
        <div class="w-60 mx-auto mt-3">
            <a th:if="${insurancePolicy.state} eq '在保'"
               th:href="@{/patient/selectMedicalRecord(insurancePolicyId=${insurancePolicy.id})}">
                <button type="button" class="btn btn-gray w-100">申请理赔
                </button>
            </a>
        </div>
    </div>
</div>
<div th:fragment="js">

</div>
</body>
</html>