<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li class="active">抵押贷款</li>
    </ul>
    <div class="mx-auto mt-3 w-60">
        <h1 class="text-center mb-3">填写抵押贷款信息</h1>
        <form role="form" class="form" id="addForm">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">姓名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" name="name" readonly
                           th:value="${user.name}">  
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-3 control-label">性别</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="gender" name="gender" readonly
                           th:value="${user.gender}">  
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="col-sm-3 control-label">年龄</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="age" name="age" readonly
                           th:value="${user.age}">  
                </div>
            </div>
            <div class="form-group">
                <label for="card" class="col-sm-3 control-label">身份证</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="card" name="card" readonly
                           th:value="${user.card}">  
                </div>
            </div>
            <div class="form-group">
                <label for="nation" class="col-sm-3 control-label">民族</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nation" name="nation" readonly
                           th:value="${user.patientInfo.nation}">  
                </div>
            </div>
            <div class="form-group">
                <label for="occupation" class="col-sm-3 control-label">职业</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="occupation" name="occupation" readonly
                           th:value="${user.patientInfo.occupation}">  
                </div>
            </div>
            <div class="form-group">
                <label for="diseaseHistory" class="col-sm-3 control-label">疾病史</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="diseaseHistory" name="diseaseHistory" readonly
                           th:value="${user.patientInfo.diseaseHistory}">  
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-3 control-label">手机号码</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="phone" name="phone" readonly
                           th:value="${user.phone}">  
                </div>
            </div>

            <div class="form-group">
                <label for="amount" class="col-sm-3 control-label">贷款金额</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="amount" name="amount" placeholder="请输入贷款金额">  
                </div>
            </div>
            <div class="form-group">
                <label for="income" class="col-sm-3 control-label">家庭收入</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="income" name="income" placeholder="请输入家庭收入">  
                </div>
            </div>
            <div class="form-group">
                <label for="asset" class="col-sm-3 control-label">抵押资产</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="asset" name="asset" placeholder="请输入抵押资产">  
                </div>
            </div>
            <div class="form-group">
                <label for="file" class="col-sm-3 control-label">抵押资产</label>
                <div class="col-sm-9" style="margin-bottom:1rem;">
                    <div class="file-container"
                         style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
                        <button class="btn btn-success fileinput-button" type="button">上传压缩文件</button>
                        <input type="file" id="file" name="file" accept='.zip,.rar,.7z'
                               onchange="loadFile(this.files[0])"
                               style="position:absolute;top:0;left:0;font-size:34px; opacity:0">
                    </div>
                    <span id="fileName" style="vertical-align: middle">未上传文件</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <button type="button" class="btn w-90 btn-gray" id="back"
                            onclick="javascript:window.location.href='/patient/home';">返回
                    </button>
                </div>
                <div class="col-sm-6 text-center">
                    <button type="button" class="btn w-90 btn-gray" id="mortgageInfoSubmit">提交
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/addMortgage.js"></script>
</div>
</body>
</html>