<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/patient/payment">缴纳费用</a></li>
        <li class="active">支付</li>
    </ul>
    <div class="w-60 mx-auto mt3">
        <h1 class="text-center mb-3">支付详情</h1>
        <ul class="list-group ">
            <li class="list-group-item"><span class="content-right" th:text="${record.name}"></span>名称:</li>
            <li class="list-group-item"><span class="content-right" th:text="${record.gender}"></span>性别:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${record.age}"></span>年龄:</li>
            <li class="list-group-item">主治医生: <span class="content-right" th:text="${user.name}"></span>
            </li>
            <li class="list-group-item">医院:<span class="content-right"
                                                 th:text="${user.doctorInfo.hospital}"></span></li>
            <li class="list-group-item">科室:<span class="content-right"
                                                 th:text="${user.doctorInfo.department}"></span></li>
            <li class="list-group-item"><span class="content-right" th:text="${record.diseaseType}"></span>疾病类型:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${record.cost}"></span>治疗费用:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${#dates.format(record.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>创建时间:
            </li>
            <li class="list-group-item"><span class="content-right"><span th:text="${realCost}"></span>元</span>实际费用:
            </li>
            <li class="list-group-item"><span class="content-right">
                <input type="checkbox" id="flag" name="flag">抵扣(<span id="money"
                    th:text="${accountBalance}>${realCost} ? ${realCost} : ${accountBalance}"></span>元)</span>医圆抵扣:
            </li>
        </ul>
        <button type="button" class="btn btn-gray w-100" id="paySubmit">支付确认
        </button>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/addPay.js"></script>
</div>
</body>
</html>