<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/patient/listInsuranceProject">保险项目</a></li>
        <li class="active">保险项目投保</li>
    </ul>
    <div class="w-60 mx-auto mt-3">
        <h1 class="text-center mb-3">信息确认</h1>
        <ul class="list-group">
            <li class="list-group-item"><span class="content-right" th:text="${user.name}"></span>姓名:</li>
            <li class="list-group-item"><span class="content-right" th:text="${user.gender}"></span>性别:</li>
            <li class="list-group-item"><span class="content-right" th:text="${user.age}"></span>年龄:</li>
            <li class="list-group-item"><span class="content-right" th:text="${user.patientInfo.nation}"></span>民族:</li>
            <li class="list-group-item"><span class="content-right" th:text="${user.patientInfo.nationality}"></span>国籍:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${user.card}"></span>身份证号码:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${user.patientInfo.occupation}"></span>职业:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${user.patientInfo.workPlace}"></span>工作单位:
            </li>
            <li class="list-group-item"><span class="content-right" th:text="${user.address}"></span>通讯地址:
            </li>
        </ul>
        <button type="button" class="btn btn-gray w-100"
                th:onclick="signInsuranceProjectSubmit([[${insuranceProjectId}]], this)">提交
        </button>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/signInsuranceProject.js"></script>
</div>
</body>
</html>