<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li class="active">个人信息</li>
    </ul>
    <div class="mx-auto mt-3 w-60">
        <form role="form" class="form" id="addForm">
            <input type="hidden" id="id" name="id" th:value="${user.id}">
            <div class="form-group">
                <div class="col-sm-3">
                    <img class="img-responsive img-rounded" style="width: 5rem; height: 5rem;" id="avatarUrl"
                         th:src="${user.avatarUrl}"
                         alt=""></div>
                <div class="col-sm-9" style="height: 5rem; line-height:5rem; margin-bottom:1rem;">
                    <div class="file-container"
                         style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
                        <button class="btn btn-success fileinput-button" type="button">上传图片</button>
                        <input type="file" id="picture" name="picture" accept="image/*" onchange="changeAvatarUrl(this)"
                               style="position:absolute;top:0;left:0;font-size:34px; opacity:0">
                    </div>
                    <span id="fileName" style="vertical-align: middle">未上传文件</span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">姓名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" name="name"
                           th:value="${user.name}">  
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="col-sm-3 control-label">年龄</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="age" name="age"
                           th:value="${user.age}">  
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-3 control-label">性别</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="gender" name="gender"
                           th:value="${user.gender}">  
                </div>
            </div>
            <div class="form-group">
                <label for="card" class="col-sm-3 control-label">身份证</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="card" name="card"
                           th:value="${user.card}">  
                </div>
            </div>
            <div class="form-group">
                <label for="nation" class="col-sm-3 control-label">民族</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nation" name="patientInfo.nation"
                           th:value="${user.patientInfo.nation}">  
                </div>
            </div>
            <div class="form-group">
                <label for="nationality" class="col-sm-3 control-label">国籍</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nationality" name="patientInfo.nationality"
                           th:value="${user.patientInfo.nationality}">  
                </div>
            </div>
            <div class="form-group">
                <label for="occupation" class="col-sm-3 control-label">职业</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="occupation" name="patientInfo.occupation"
                           th:value="${user.patientInfo.occupation}">  
                </div>
            </div>
            <div class="form-group">
                <label for="workPlace" class="col-sm-3 control-label">工作地点</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="workPlace" name="patientInfo.workPlace"
                           th:value="${user.patientInfo.workPlace}">  
                </div>
            </div>
            <div class="form-group">
                <label for="blood" class="col-sm-3 control-label">血型</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="blood" name="patientInfo.blood"
                           th:value="${user.patientInfo.blood}">  
                </div>
            </div>
            <div class="form-group">
                <label for="diseaseHistory" class="col-sm-3 control-label">疾病史</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="diseaseHistory" name="patientInfo.diseaseHistory"
                           th:value="${user.patientInfo.diseaseHistory}">  
                </div>
            </div>
            <div class="form-group">
                <label for="accountBalance" class="col-sm-3 control-label">医圆余额</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="accountBalance" name="accountBalance" readonly
                           th:value="${user.accountBalance}">  
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-3 control-label">手机号码</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="phone" name="phone"
                           th:value="${user.phone}">  
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-3 control-label">地址</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="address" name="address"
                           th:value="${user.address}">  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <button type="button" class="btn w-90 btn-gray" id="back"
                            onclick="javascript:window.location.href='/patient/home';">返回
                    </button>
                </div>
                <div class="col-sm-6 text-center">
                    <button type="button" class="btn w-90 btn-gray" id="patientInfoSubmit">保存
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/changePatientInfo.js"></script>
</div>
</body>
</html>