<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="patient/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/patient/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/patient/listMortgageRecord">贷款记录</a></li>
        <li class="active">贷款记录查看</li>
    </ul>
    <div class="w-60 mx-auto mt-3">
        <h1 class="text-center mb-3">贷款记录</h1>
        <ul class="list-group">
            <li class="list-group-item"><span class="content-right" th:text="${mortgage.bank.name}"></span>贷款对象:</li>
            <li class="list-group-item"><span class="content-right" th:text="${mortgage.amount}"></span>贷款金额:</li>
            <li class="list-group-item"><span class="content-right" th:text="${mortgage.income}"></span>家庭收入:</li>
            <li class="list-group-item"><span class="content-right" th:text="${mortgage.asset}"></span>抵押资产:</li>
            <li class="list-group-item"><span class="content-right" th:text="${mortgage.state}"></span>贷款状态:</li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${#dates.format(mortgage.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>创建时间:
            </li>
            <li class="list-group-item"><span class="content-right"><a th:href="${mortgage.certificate}">下载凭证</a></span>凭证:
        </ul>
    </div>
</div>
<div th:fragment="js">

</div>
</body>
</html>