<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="research/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/research/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li class="active">研究数据</li>
    </ul>
    <div class="w-100 mx-auto">
        <table class="table table-striped table-bordered w-100 mb-0">
            <thead>
            <tr>
                <td>序号</td>
                <th>数据类型</th>
                <th>数量</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="purchasedData,state : ${purchasedDatas}">
                <td th:text="${state.count}"></td>
                <td th:text="${purchasedData.typeValue}"></td>
                <td th:text="${purchasedData.total}"></td>
                <td th:text="${#dates.format(purchasedData.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></td>
                <td>
                    <div style="text-align: center">
                        <a th:href="@{/research/downloadDataSubmit(purchasedDataId=${purchasedData.id})}">
                            <button class="btn btn-group-lg btn-info">下载</button>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:fragment="js">

</div>
</body>
</html>