<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="research/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/research/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li class="active">上传模型</li>
    </ul>
    <div class="mx-auto mt-3 w-60">
        <form role="form" class="form" id="addForm">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <button type="button" class="btn w-90 btn-gray">上传模型 <input type="file" id="data" name="data"
                                                                                accept="*"
                                                                                style="position:absolute;top:0;left:0;font-size:34px; opacity:0">
                    </button>
                </div>
                <div class="col-sm-6 text-center">
                    <button type="button" class="btn w-90 btn-gray"
                            onclick="javascript:setTimeout(function() { window.location.href='/research/show'; }, 1000);">开始训练
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:fragment="js">

</div>
</body>
</html>