<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="bank/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/bank/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/bank/listExaminedInstallment">分期记录</a></li>
        <li class="active">分期记录查看</li>
    </ul>
    <div class="w-60 mx-auto mt-3">
        <h1 class="text-center mb-3">分期记录</h1>
        <ul class="list-group">
            <li class="list-group-item"><span class="content-right" th:text="${installment.name}"></span>申请人:</li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.gender}"></span>性别:</li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.age}"></span>年龄:</li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.chiefComplaint}"></span>主诉:</li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.diseaseType}"></span>疾病类型:</li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.cost}"></span>治疗费用:</li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.cycle}"></span>分期期数:</li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.paidCycle}"></span>已支付期数:</li>
            <li class="list-group-item"><span class="content-right" th:text="${installment.state}"></span>状态:</li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${#dates.format(installment.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>创建时间:
            </li>
        </ul>
    </div>
</div>
<div th:fragment="js">

</div>
</body>
</html>