<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="insurer/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/insurer/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/insurer/listProcessedInsurancePolicy">已处理保单</a></li>
        <li class="active">保单查看</li>
    </ul>
    <div class="w-50 mx-auto" style="margin-top: 5rem;">
        <h1 class="text-center mb-3">保单</h1>
        <div class="text-center mb-2">投保时间:<span
                th:text="${#dates.format(insurancePolicy.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>
        </div>
        <div class="text-center mb-2">投保状态:<span
                th:text="${insurancePolicy.state}"></span>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.name}"></span>客户姓名:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.gender}"></span>性别:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.age}"></span>年龄:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.patientInfo.nation}"></span>民族:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.patientInfo.nationality}"></span>国籍:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.card}"></span>身份证号码:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.patientInfo.occupation}"></span>职业:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.patientInfo.workPlace}"></span>工作单位:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.address}"></span>通讯地址:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.insuranceProject.insuranceName}"></span>险种名称:
            </li>
        </ul>
    </div>
</div>
<div th:fragment="js">

</div>
</body>
</html>