<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="bank/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/bank/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li class="active">分期记录</li>
    </ul>
    <div class="w-100 mx-auto">
        <table class="table table-striped table-bordered w-100 mb-0">
            <thead>
            <tr>
                <td>序号</td>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>疾病类型</th>
                <th>治疗费用</th>
                <th>分期期数</th>
                <th>已支付期数</th>
                <th>申请时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="installment,state : ${installments}">
                <td th:text="${state.count}"></td>
                <th th:text="${installment.name}"></th>
                <th th:text="${installment.gender}"></th>
                <th th:text="${installment.age}"></th>
                <th th:text="${installment.diseaseType}"></th>
                <th th:text="${installment.cost}"></th>
                <th th:text="${installment.cycle}"></th>
                <th th:text="${installment.paidCycle}"></th>
                <th th:text="${#dates.format(installment.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></th>
                <th th:text="${installment.state}"></th>
                <th><a th:href="@{/bank/lookExaminedInstallment(installmentId=${installment.id})}">查看</a></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:fragment="js">

</div>
</body>
</html>