<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="insurer/layout">
<head>
</head>
<body>
<div th:fragment="css">

</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/insurer/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li><a href="/insurer/listInsurancePolicy">签订保单</a></li>
        <li class="active">保单查看</li>
    </ul>
    <div class="w-60 mx-auto mt-3">
        <h1 class="text-center mb-3">保单记录</h1>
        <ul class="list-group">
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.name}"></span>客户姓名:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.gender}"></span>性别:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.age}"></span>年龄:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.patientInfo.nation}"></span>民族:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.patientInfo.nationality}"></span>国籍:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.card}"></span>身份证号码:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.patientInfo.occupation}"></span>职业:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.patientInfo.workPlace}"></span>工作单位:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.patient.address}"></span>通讯地址:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${insurancePolicy.insuranceProject.insuranceName}"></span>险种名称:
            </li>
            <li class="list-group-item"><span class="content-right"
                                              th:text="${#dates.format(insurancePolicy.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>投保时间:
            </li>
        </ul>
        <div class="row">
            <div class="col-sm-6 text-center">
                <button type="button" class="btn w-90 btn-gray" id="agree">同意
                </button>
            </div>
            <div class="col-sm-6 text-center">
                <button type="button" class="btn w-90 btn-gray" id="refuse">拒绝
                </button>
            </div>
        </div>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/lookInsurancePolicy.js"></script>
</div>
</body>
</html>
