<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="doctor/layout">
<head>
</head>
<body>
<div th:fragment="css">
    <link rel="stylesheet" href="/css/addRecord.css">
</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/doctor/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li class="active">添加病历</li>
    </ul>
    <div class="mx-auto mt-3 w-60">
        <form class="form-inline" role="search" target="_blank">

            <div class="input-group">
                <input class="form-control" type="text" id="searchKey" name="searchKey"
                       placeholder="输入患者账号" size="80">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary w-auto" id="searchSubmit">查找患者</button>
                </span>
            </div>
        </form>
        <div id="info" style="display:none" class="alert alert-warning my-3">
            <a href="#" class="close" id="close">
                &times;
            </a>
            <p id="tips">
            </p>
        </div>
    </div>
    <div class="mx-auto mt-3">
        <form role="form" class="form-horizontal" style="display: none;" id="addForm">
            <input type="hidden" id="patient" name="patient" value=""/>

            <div class="form-group">
                <label for="name" class="col-sm-1 control-label">名称</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="请输入名称">  
                </div>
                <label for="gender" class="col-sm-1 control-label">性别</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="gender" name="gender" placeholder="请输入性别">  
                </div>
                <label for="age" class="col-sm-1 control-label">年龄</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="age" name="age" placeholder="请输入年龄">  
                </div>
            </div>

            <div class="form-group">
                <label for="nation" class="col-sm-1 control-label">民族</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="nation" name="nation" placeholder="请输入民族">  
                </div>
                <label for="bloodType" class="col-sm-1 control-label">血型</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="bloodType" name="bloodType" placeholder="请输入血型">  
                </div>
                <label for="cost" class="col-sm-1 control-label">治疗费用</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="cost" name="cost" placeholder="请输入治疗费用">  
                </div>
            </div>

            <div class="form-group">
                <label for="chiefComplaint" class="col-sm-1 control-label">主诉</label>
                <div class="col-sm-5">
                     <textarea class="form-control" rows="2" id="chiefComplaint"
                               name="chiefComplaint"></textarea>
                </div>
                <label for="presentIllnessHistory" class="col-sm-1 control-label">现病史</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="2" id="presentIllnessHistory"
                              name="presentIllnessHistory"></textarea> 
                </div>
            </div>

            <div class="form-group">
                <label for="pastIllnessHistory" class="col-sm-1 control-label">既往病史</label>
                <div class="col-sm-5">
                     <textarea class="form-control" rows="2" id="pastIllnessHistory"
                               name="pastIllnessHistory"></textarea>
                </div>
                <label for="drugAllergyHistory" class="col-sm-1 control-label">药物过敏史</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="2" id="drugAllergyHistory"
                              name="drugAllergyHistory"></textarea> 
                </div>
            </div>

            <div class="form-group">
                <label for="personalHistory" class="col-sm-1 control-label">个人史</label>
                <div class="col-sm-5">
                     <textarea class="form-control" rows="2" id="personalHistory"
                               name="personalHistory"></textarea>
                </div>
                <label for="familyHistory" class="col-sm-1 control-label">家族史</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="2" id="familyHistory"
                              name="familyHistory"></textarea> 
                </div>
            </div>

            <div class="form-group">
                <label for="physicalExamination" class="col-sm-1 control-label">体格检查</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="physicalExamination" name="physicalExamination" placeholder="请输入体格检查">  
                </div>
                <label for="diseaseType" class="col-sm-1 control-label">疾病类型</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="diseaseType" name="diseaseType" placeholder="请输入疾病类型">  
                </div>
            </div>

            <div class="form-group">
                <label for="outpatientPhysicalExamination" class="col-sm-1 control-label">门诊体检</label>
                <div class="col-sm-5">
                     <textarea class="form-control" rows="2" id="outpatientPhysicalExamination"
                               name="outpatientPhysicalExamination"></textarea>
                </div>
                <label for="supplementaryExamination" class="col-sm-1 control-label">辅助检查</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="2" id="supplementaryExamination"
                              name="supplementaryExamination"></textarea> 
                </div>
            </div>

            <div class="form-group">
                <label for="outpatientDiagnosis" class="col-sm-1 control-label">门诊诊断</label>
                <div class="col-sm-5">
                     <textarea class="form-control" rows="2" id="outpatientDiagnosis"
                               name="outpatientDiagnosis"></textarea>
                </div>
                <label for="treatmentAdvice" class="col-sm-1 control-label">治疗意见</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="2" id="treatmentAdvice"
                              name="treatmentAdvice"></textarea> 
                </div>
            </div>

            <div class="form-group">
                <label for="outpatientHandle" class="col-sm-1 control-label">门诊处理</label>
                <div class="col-sm-5">
                     <textarea class="form-control" rows="2" id="outpatientHandle"
                               name="outpatientHandle"></textarea>
                </div>
                <label for="outpatientDoctorAdvice" class="col-sm-1 control-label">门诊医嘱</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="2" id="outpatientDoctorAdvice"
                              name="outpatientDoctorAdvice"></textarea> 
                </div>
            </div>

            <div class="mx-auto mt-3 w-60">
                <button type="button" class="btn btn-gray w-100" id="recordSubmit">提交
                </button>
            </div>
        </form>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/addRecord.js"></script>
</div>
</body>
</html>