<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="doctor/layout">
<head>
</head>
<body>
<div th:fragment="css">
    <link rel="stylesheet" href="/css/applyRecord.css">
</div>
<div th:fragment="content">
    <ul class="breadcrumb">
        <li><a href="/doctor/home"><i class="fa fa-home mr-1"></i>主页</a></li>
        <li class="active">申请授权</li>
    </ul>
    <div class="mx-auto mt-3 w-60">
        <form class="form-inline" role="search" target="_blank">
            <div class="input-group">
                <input class="form-control" type="text" id="searchKey" name="searchKey" placeholder="输入患者账号"
                       size="80">
                <span class="input-group-btn">
                            <button type="button" class="btn btn-secondary" id="searchSubmit">查找患者</button>
                        </span>
            </div>
        </form>

        <div id="info" style="display:none" class="alert alert-warning my-3">
            <a href="#" class="close" id="close">
                &times;
            </a>
            <p id="tips">
            </p>
        </div>
    </div>
    <div class="w-100 mx-auto">
        <table style="display:none" id="t" class="table table-striped table-bordered w-100">
            <thead>
            <tr>
                <td>序号</td>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>就诊医院</th>
                <th>就诊科室</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tb">

            </tbody>
        </table>
    </div>
</div>
<div th:fragment="js">
    <script src="/js/applyRecord.js"></script>
</div>
</body>
</html>